
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#logo{
width: 10vw;

}


#photo1{
  max-width: 20%;
margin-top: 1.5px;
float:right;
margin: right 2px; 
}


nav{
    display:flex;
    flex-direction: column;
    padding: 5%;
    background-color: black;
    height: 100vh;
    width: 20%;

}


article{
    
 box-shadow: 2px 2px 5px 0;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 1000ms;
}

a{
    color:rgb(160, 136, 3)
}

h1{
     font-family: "police-titre";
    font-size: 3rem;
    font-size: 2rem;
}
h2{
    color:rgb(160, 136, 3)

}

.nav-button{
    font-size: 1rem;
    text-decoration: none;
    display: block;

    background-color:black;
    color: gold;
    padding: 5px;
    width: 20%;
    margin: 20px;
}

.nav-button:hover{
    background-color: black;
    color:rgb(160, 136, 3);
    border: solid color var(red)
}

#rangement{

    position: relative;

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;


}
main{
display: flex;
flex-direction: column;
}